/* body {
  width: 100%;
} */
.main {
  background: rgba(250, 157, 213, 0.1);
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-top: 100px;
}

.window {
  background: rgba(250, 157, 213, 0.1);
  color: rgb(250, 157, 213);
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-bottom: 50px;
}

.header {
  text-align: center;
  font-weight: 700;
}

.form {
  margin-top: 100px;
  text-align: center;

}

input.btn {
  background-color: #fff;
}

.list {
  margin-top: 100px;
}

.anagram-list {
  list-style-type: none;
  text-align: center;
  align-items: center;
  font-size: 40px;
}

li .anagrams {
  font-size: 30px;
  align-items: center;
}

.error {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

form.new-word {
  text-align: center;
}

a.word-link {
  color: #BC0975;
}

a.edit-link {
  color: #5C0439;
}
