<h1 class="header">Words</h1>
<table class="table table-striped">
  <thead>
    <th scope="col">Text</th>
    <th scope="col">Letters</th>
  </thead>
  <tbody>
<!--    <% if !@word.all.nil? %> -->
    <% @word.each do |word| %>
      <tr>
        <td><a href="<%= "/words/#{word.id}" %>"><%= "#{word.text}" %></a></td>
        <td><%= "#{word.letters}" %></td>
      </tr>
    <% end %>
<!--    <% end %> -->
  </tbody>
</table>
