<h1 class="header">Words</h1>
<table class="table table-striped">
  <thead>
    <th scope="col">Text</th>
    <th scope="col">Letters</th>
  </thead>
  <tbody>

    <% @word.each do |word| %>
      <tr>
        <td><a href="<%= "/words/#{word.id}" %>"></a><%= "#{word.text}" %></td>
        <td><%= "#{word.letters}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
