<div class="container">
<h1 class="header">Add a Word</h1>

  <form action="/" method="post" class="form">
    <label for="text">Enter a word</label>
    <input type="text" name="text">
    <input type="submit" class="btn">
  </form>
 </div>
